<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{>header}}</h2>
    <div class="container" id="weather">
        
        <h2>Weather Details</h2>
        <div id="weather1">
            <h3>{{error}}</h3>
            <table>
                <tr>
                    <th>Country</th>
                    <td>{{country}}</td>
                    <th>City</th>
                    <td>{{city}}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{Longitude}}</td>
                    <th>Latitude</th>
                    <td>{{latitude}}</td>
                </tr>
                <tr>
                    <th>Condition</th>
                    <td>{{condition}}</td>
                    <th>temp</th>
                    <td>{{temp}} C</td>
                </tr>
            <table>
            

        </div>>


        
    </div>
    <h3>{{>footer}}</h3>
    </body>
</html>